<%- include('../views/partials/header.ejs') %> <%-
include('../views/partials/navbar.ejs') %>

<h1>Welcome to <%= title %></h1>
<p>This is the home page.</p>

<%- include('../views/partials/footer.ejs') %>
