<%- include('../views/partials/header.ejs') %> <%-
include('../views/partials/navbar.ejs') %>
<h1>Please sign up and Create an new Account</h1>
<!-- Main Content -->
<div class="">
  <form action="#" method="POST">
    <label>Email</label>
    <input type="email" name="email" placeholder="Enter your email" required />
    <br />

    <label>Password</label>
    <input
      type="password"
      name="password"
      placeholder="Enter your password"
      required
    />
    <br />

    <button type="submit">Sign Up</button>
  </form>
</div>
<!-- Main Content -->
<!-- Form Control -->
<script>
  const form = document.querySelector("form");
  form.addEventListener("submit", (e) => {
    e.preventDefault();
    const email = form.email.value;
    const password = form.password.value;
    console.log("Email:", email);
    console.log("Password:", password);
    // Here you can add your logic to send the data to the server or perform other actions
  });
</script>
<!-- Form Control -->

<%- include('../views/partials/footer.ejs') %>
